@import 'normalizes.scss'
@import 'resets.scss'

@font-face
  font-family: 'Montserrat Regular'
  font-display: swap
  src: url('../fonts/Montserrat-Regular.ttf')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'Montserrat Bolt'
  font-display: swap
  src: url('../fonts/Montserrat-ExtraBold.ttf')
  font-weight: normal
  font-style: normal

*
  box-sizing: border-box

html
  font-family: 'Montserrat Regular'

body
  background: green

.overflow-hidden
  overflow: hidden

.container
  max-width: 1140px
  margin: 0 auto

.main
  background: url("../img/background.jpeg") no-repeat
  background-size: cover
  background-position: center center
  width: 100%
  height: 100vh

  .letters
    display: inline-flex
    width: 100%
    height: 100vh
    justify-content: center
    align-items: center
    &__item
      font-size: 100px
      font-family: "Montserrat Bolt"
      padding: 0.1em 0.2em
      border-radius: 0.2em
      border: 2px dashed white
      background-color: rgba(255, 255, 255, 0.2)

      margin-right: 2%
      &:last-child
        margin-right: 0

@media (max-width: 1199px)
  .container
    width: 960px
  .main
    .letters
      &__item
        font-size: 72px

@media (max-width: 991px)
  .container
    width: 720px

  .main
    .letters
      &__item
        font-size: 56px
        
@media (max-width: 767px)
  .container
    width: 540px

  .main
    .letters
      &__item
        font-size: 36px

@media (max-width: 576px)
  .container
    width: 100%
  .main
    .letters
      &__item
        font-size: 24px